@media (max-width:1172px){

    .navbar{
        padding: 30px 100px;
    }

    .nav-btn{
        margin-left: 20px;
    }

    .hero{
        padding: 64px 100px;
    }

    .about{
        flex-direction: column-reverse;
        padding: 0 10px !important; 
    }

    .about-text{
        justify-content: center;
    }

    .footer{
        padding: 90px 75px !important;
    }
    
}

@media (max-width:900px){

    .navbar{
        padding: 30px;
    }

    .nav-wrapper{
        justify-content: space-around;
    }

    .nav-links{
        display: none;

    }

    .nav-mobile{
        display: block;
        margin-left: auto;
        color: #fff;
    }

    .hero-wrapper img{
        display: none;
    }

    .about img{
        height: 318px;
        width: 352px;
    }

    .about-text h1{
        font-size: 30px;
    }

    .about{
        padding: 0;
        margin: 0;
        justify-content: left;
    }

    .footer{
        padding: 80px 20px !important;
    }

    .footer-columns{
        flex-direction: column !important;
    }

    .footer-wrapper{
        display: flex;
        justify-content: center;
    }

    .footer-column{
        display: none !important;
    }

    .footer-information{
        text-align: center !important;
    }

    .company-adress h3{
        text-align: center !important;
    }

}

@media (max-width:650px){

    .navbar{
        padding: 30px 20px;
    }

    .navlogo h1{
        display: none;
    }

    .nav-btn{
        display: none;
    }

    .hero{
        padding: 60px 20px;
    }

    .hero-title{
        font-size: 35px;
    }

    .hero-btn{
        flex-direction: column;
    }

    .hero-btn button{
        width: 100%;
    }

    .service-card{
        width: 100%;
    }
}