@media (max-width:1172px){

    .navbar{
        padding: 30px 100px;
    }

    .nav-btn{
        margin-left: 20px;
    }

    .hero{
        padding: 64px 100px;
    }

    .about{
        flex-direction: column-reverse;
        padding: 0 10px !important; 
    }

    .about-text{
        justify-content: center;
    }
    
}

@media (max-width:900px){

    .navbar{
        padding: 30px;
    }

    .nav-wrapper{
        justify-content: space-around;
    }

    .nav-links{
        display: none;

    }

    .nav-mobile{
        display: block;
        margin-left: auto;
        color: #fff;
    }

    .hero-wrapper img{
        display: none;
    }

    .about img{
        height: 318px;
        width: 352px;
    }

    .about-text h1{
        font-size: 30px;
    }

    .about{
        padding: 0;
        margin: 0;
        justify-content: left;
    }

}

@media (max-width:650px){

    .navbar{
        padding: 30px 20px;
    }

    .navlogo h1{
        display: none;
    }

    .nav-btn{
        display: none;
    }

    .hero{
        padding: 60px 20px;
    }

    .hero-title{
        font-size: 35px;
    }

    .hero-btn{
        flex-direction: column;
    }

    .hero-btn button{
        width: 100%;
    }

    .service-card{
        width: 100%;
    }
}