.navbar{
   padding: 30px 175px;
   background: linear-gradient(default, rgba(255,255,255,0.2) 20%, rgba(255,255,255,1) 100%) ;
   backdrop-filter: blur(200px);
}


.nav-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links{
    display: flex;
    align-items: center;
    gap: 40px;
    font-size: 16px;
    margin-left: auto;
}

.nav-link{
    font-size: 16px;
    text-decoration: none;
    color: #fff;
}

nav h1{
    font-size: 22.5px;
    color: var(--primary-color);
    margin-left: 14px;
}

.nav-btn{
    background-color: var(--primary-color);
    font-size: 16px;
    padding: 15px 30px;
    border: none;
    color: #fff;
    border-radius: 5px;
    margin-left: 50px;
}

.navlogo{
    display: flex;
    gap: 14px;
}

.navlogo h1{
    margin: 33px 0px 36px;
}
